body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(media/bg.png);
  background-size: 100%;
  background-attachment: fixed;
}

#langue{
	right: 0;
	margin-right: 3%;
	margin-top: 2.2%;
	color: white;
	font-size: 1em;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    z-index: 99;
}

.switch{
	color: white;
	margin-right: 0;
	font-size: 1em;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#anglais{
	color: #00CC99;
}

#anglais:hover{
	color: white;
	cursor: pointer;
}

#francais{
	color: #00CC99;
}

#francais:hover{
	color: white;
	cursor: pointer;
}

#paint{
height: 2020%;
width: 100%;
margin-top: 0px;
position: absolute;
z-index: 3;
cursor: crosshair;
}

#titre{
    position: absolute;
    margin-left: 2.6%;
    margin-top: -4%;
}
#soustitre{
    position: absolute;
    margin-left: 6.5%;
    margin-top: 3%;
}
#historique{
    position: relative;
    margin-left: 32.56%;
    margin-right: 32.6%;
    margin-top: -150px;
    background-color: yellow;
    z-index: 4;
}
#historiquemobile{
    position: relative;
    margin-left: 15.56%;
    margin-right: 15.6%;
    margin-top: -150px;
    background-color: yellow;
    z-index: 4;
}
#suitehistoriquemobile{
	position: relative;
    margin-left: 15.56%;
    margin-right: 15.6%;
    margin-top: 0;
    z-index: 2;
}	

#historique2{
	margin-top: 480%;
    position: relative;
    margin-left: 32.56%;
    margin-right: 32.6%;
    background-color: yellow;
    z-index: 3;
}
#suitehistorique{
	position: relative;
    margin-left: 32.56%;
    margin-right: 32.6%;
    margin-top: 0;
    z-index: 2;
}

#degradejaune{
	width: 100%;
	height: 600px;
	z-index: 2;
	background-image: linear-gradient(to bottom, rgba(255,255,0,1), rgba(255,255,0,0));

}

#content-wrapper, #example-wrapper {
	opacity: 1;
	height: 100%;
	z-index: 1;
}

#example-wrapper .scrollContent {
	height: 100%;
}


#example-wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}


section.demo {
	width: 100px;
	font-size: 0;
	text-align: center;
}

.spacer.s0 {
	min-height: 0px;
}

.spacer.s2 {
	min-height: 0px;
}

.spacer.s_viewport {
	min-height: 100%;
}

.spacer.s_viewport {
	min-width: 100%;
}

#imagesequence {
	width: 100%;
	position: fixed;
	margin-top: 85vh;
	margin-left: 50%;
	transform: translateX(-65px);
}

#myimg{
	width: auto;
	height: 83px;
	margin-top: 0px;
}

/*BACKGROUND*/

#video{
	position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -2;
	background: no-repeat;
	background-size: cover;
  	top: 50%;
  	transform: translateY(-50%);
}

#long {
  height: 500px;
  margin-top: 80vh;
  background-color: none;
  z-index: 1;
}

#scroll{
	position: absolute;
    width: 200px;
    margin-left: 50%;
    left: -100px;
    margin-top: 15vh;
    height: auto;
    z-index: -99;
}

#brique{
    display: block;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:100px;
    margin-top: 5%;
    z-index: 0;
    filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.6));
}

#note1{
	z-index: 3;
    position: absolute;
    margin-left: 10.15%;
    margin-right: 55.1%;
    margin-top: 50%;
    margin-bottom: 100px;
    background-image: linear-gradient(to bottom, rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,0));
}

#note2{
	z-index: 3;
    position: absolute;
    margin-left: 10.15%;
    margin-right: 55.1%;
    margin-top: 208%;
    margin-bottom: 100px;
    background-image: linear-gradient(to bottom, rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,0));
}

#note3{
	z-index: 3;
    position: absolute;
    margin-left: 10.15%;
    margin-right: 55.1%;
    margin-top: 290%;
    margin-bottom: 100px;
    background-image: linear-gradient(to bottom, rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,1), rgba(255,255,0,0));
}			

#soustitreactu{
    position: absolute;
    margin-left: 0%;
    margin-top: 5%;
}
#jour0{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 40%;
    z-index: 0;
}
#jour1{
    display: block;
    position: absolute;
    margin-left: 8.88%;
    margin-right: 53.79%;
    margin-bottom:100px;
    margin-top: 80%;
    z-index: 0;
}
#jour2{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 120%;
    z-index: 0;
}
#jour3{
    display: block;
    position: absolute;
    margin-left: 8.88%;
    margin-right: 53.79%;
    margin-bottom:100px;
    margin-top: 160%;
    z-index: 0;
}
#jour4{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 200%;
    z-index: 0;
}
#jour5{
    display: block;
    position: absolute;
    margin-left: 8.88%;
    margin-right: 53.79%;
    margin-bottom:100px;
    margin-top: 240%;
    z-index: 0;
}
#jour6{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 280%;
    z-index: 0;
}
#jour7{
    display: block;
    position: absolute;
    margin-left: 8.88%;
    margin-right: 53.79%;
    margin-bottom:100px;
    margin-top: 320%;
    z-index: 0;
}
#jour8{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 360%;
    z-index: 0;
}
#jour9{
    display: block;
    position: absolute;
    margin-left: 8.88%;
    margin-right: 53.79%;
    margin-bottom:100px;
    margin-top: 400%;
    z-index: 0;
}
#jour10{
    display: block;
    position: absolute;
    margin-left: 53.77%;
    margin-right: 8.89%;
    margin-bottom:100px;
    margin-top: 440%;
    z-index: 0;
}

#backgroundtextactu{
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    background-color: white;
    margin-top: -2%;
    border-bottom-style: solid;
    /**border-bottom-width: 0.001%;**/
    border-bottom-width: 0.1vw;
    border-bottom-color: black;
}	
#textactu{
    display: block;
    z-index: 0;
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 5%;
    background-color: white;   
}	
#frise{
	overflow: hidden;
	width: 100%;
	background-color: white;
	color: black;
	font-size: 1.79vw;
    font-family: "durk";
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 0.1vw;
    border-bottom-color: black;
    z-index: 4;
}

.sticky {
  position: fixed;
  top:0;
  width: 100%;
}


.image a span {
    display:none;
}

.image a:hover span {
    position: absolute;
    display:block;
    margin-left: 20%;
    margin-top: 5%;
    z-index: 6;
    -webkit-transform: translateZ(1000px);
}

.text span {
    display: block;
    position: inherit;
    font-size: 0;
    height: 0;  
    font-weight: 400;
    border: none;
    text-decoration: none;
    transition: 0.1s ease-out;
    -webkit-transition: .1s ease-out;
}

.text a:hover + span {
    display:block;
    position: inherit;
    height: 100%;
    width: 100%;
    font-size: 100%;
    border: none;
    text-decoration: none;
    transition: 1s ease;
    -webkit-transition: height 1s ease, font-size .2s ease;
}

.text a {
    text-decoration: underline;
}

.text a:hover {
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
}


#popup{
	text-decoration: none;
    color: black;
    border-style: dashed;
  	border-width: 1px;
  	padding: 1.35px;
    font-weight: 500;
}

#fleche{
	position: absolute;
    display:block;
    margin-left: -27%;
    margin-top: -14%;
    width: 25%;
    height: auto;
    transform: rotate(10deg);

}


h1{   
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    line-height: 100%;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    

}

h2{   
    font-size: 1em;
    font-weight: 500;
    line-height: 1.3em;
    color: black;
    margin-top: -5px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;    

}

h3{   
    margin-top: 0px;
    font-size: 0.8em;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

sup{
	line-height: 0;
}

h4{
	margin-top: 0px;
    font-size: 0.8em;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

@font-face {
    font-family: "durk";
    src: url("Druk.otf") format("truetype");
}
h5{
    font-size: 2.5em;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: left;
    font-family: "durk";  
}
h6{
	margin-top: 0px;
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-align: right;
    font-family: "durk";
    margin-block-start: 0em;
    margin-block-end: 5%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@keyframes spin {
from{
 transform: rotateY(0deg);
 moz-transform: rotateY(0deg); 
 ms-transform: rotateY(0deg);
 }
 to{
 transform: rotateY(360deg);
 moz-transform: rotateY(360deg); 
 ms-transform: rotateY(360deg);
 }
}

@-webkit-keyframes spin {
0% {-webkit-transform: rotateY(0deg);}
100% {-webkit-transform: rotateY(360deg);}
}

.imageSpin{
 animation-name: spin;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-duration: 2s;
 -webkit-animation-name: spin;
 -webkit-animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-duration: 2s;
}

.imageSpin2{
 animation-name: spin;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-duration: 1s;
 -webkit-animation-name: spin;
 -webkit-animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-duration: 1s;
}

/* WARNING MESSAGE */
.warning {
    width: 100%;
    height: 100%;
    background: yellow;
    position: fixed;
    z-index: 99;
    opacity: 1;
    top: 0;
}

.warning > p {
	font-size: 1em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    color: black;
    font-family: "Helvetica Neue", Helvetica, sans-serif; 
    
}

@media only screen and (min-width: 785px) {
    .warning {
        z-index: -99;
        opacity: 0;
    }


    .warning {
        -webkit-transition: background-color ease 0.5s;
        -moz-transition: background-color ease 0.5s;
        -ms-transition: background-color ease 0.5s;
        -o-transition: background-color ease 0.5s;
        transition: background-color ease 0.5s;

    }

}

@media only screen and (max-width: 499px) {
   .handheld{ display: block !important; }
   .screen{ display: none !important; }
}

@media only screen and (min-width: 500px) {
   .handheld{ display: none !important; }
   .screen{ display: block !important; }
}